@media screen and (max-width: 580px) {
  /* Sharend style */
  body{
    width: auto;
  }
  .hero,
  .curriculum,
  .story-container,
  .foot {
    width: calc(100% - 30px);
    margin: 0px auto;
  }
  img {
    width: 100%;
  }

  /* Nav bar */
  .laptop {
    display: none;
  }
  .phone {
    display: flex;
    flex-direction: column;
  }

  .phone > hr {
    margin: 0%;
    border:.5px solid rgb(254, 163, 1);
  }

  .phn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    width: calc(100% - 30px);
    margin: 0px auto;
    gap: 430px;
  }

  .ham {
    width: 35px;
  }
  /* Banner part Responsive */
  .banner{
    flex-direction: column-reverse;
    text-align: center;
  }
  .empower{
    font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .text br{
    display: none;
  }
  .btn-enroll{
  font-size: 16px;
  display: flex;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
        }
}