@media screen and (max-width: 580px) {
  /* Sharend style */
  body{
    width: auto;
  }
  .hero,
  .curriculum,
  .story-container,
  .foot {
    width: calc(100% - 30px);
    margin: 0px auto;
  }
  img {
    width: 100%;
  }

  /* Nav bar */
  .laptop {
    display: none;
  }
  .phone {
    display: flex;
    flex-direction: column;
  }

  .phone > hr {
    margin: 0%;
    border:.5px solid rgb(254, 163, 1);
  }

  .phn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    width: calc(100% - 30px);
    margin: 0px auto;
    gap: 430px;
  }

  .ham {
    width: 35px;
  }
  /* Banner part Responsive */
  .banner{
    flex-direction: column-reverse;
    text-align: center;
  }
  .empower{
    font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .text br{
    display: none;
  }
  .btn-enroll{
  font-size: 16px;
  display: flex;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
        }

        .curriculum h2 {
          font-size: 26px;
        }
      
        .container {
          flex-direction: column;
        }
.arrow-container{
  display: none;
}
 /* Our stories */
 .story-card {
  display: none;
}

.all-story {
  grid-template-columns: 1fr;
}
.multi-story {
  gap: 10px;
}

.date2 {
  margin-left: 10px;
  padding: 10px;
  font-size: 12px;
  width: 130px;
  margin-top: -22px;
}

.text4 {
  margin: 10px;
}

/* Footer */
.foot {
  grid-template-columns: 1fr;
}

.kids-edu p {
  text-align: left;
}

.foot-nav {
  align-items: flex-start;
  margin-top: 34px;
}

.social {
  margin-top: 34px;
}

footer {
  padding: 100px 0;
}

/* Fixed */
.arrow-container {
  display: none;
}

.story-container h2{
  font-size: 30px;
}

.curriculum > h2{
  font-size: 30px;
}

}