@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    font-family: "Quicksand", serif;
    width: 1440px;
}
* {
    margin:10px auto;
    padding: ;
    box-sizing: border-box;
  }
/* shared styles */
header{
    margin: 0px auto;
}
li,a{
    text-decoration: none;
    list-style: none;
}
.text{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
}
img {
    width: 100%;
}

/* NAv related styles */
.laptop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
nav h2{
    color: var(--Black, #111);
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 30px;
margin: 15px 0;
}
.nav-text{
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
}
.nav-style{
    display: flex;
    justify-content: center;
    gap: 35px; }
.btn{
    border-radius: 12px;
    background: var(--Orange, #FEA301);
    width: 197px;
    padding: 10px;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border: none;
}
.btn:hover{
        background-color: #FFF;
        color: #FEA301;
}
.phone{
    display: none;
}
/* Bannner Realted Styles */
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;; 
}
.empower{
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
}

.btn-enroll{
    padding: 10px 47px;
    border-radius: 12px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    border: none;
}
.btn-enroll:hover{
    background-color: aqua;
    color:#111;
}